In [1]:
import pandas as pd

df = pd.read_csv('./Datasets/Pizza Party Sales.csv')

Viendo la información del dataset podemos ver que **no contiene nulos**. Además, seis de las siete columnas son de tipo *'object'*, mientras que la restante es de tipo *'float64'*

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49574 entries, 0 to 49573
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49574 non-null  object
 1   date    49574 non-null  object
 2   time    49574 non-null  object
 3   name    49574 non-null  object
 4   size    49574 non-null  object
 5   type    49574 non-null  object
 6   price   49574 non-null  float64
dtypes: float64(1), object(6)
memory usage: 2.6+ MB

Primera visualización del Dataset

**Formato de los dato:** La columna *id* cuenta con el año del pedido primero y luego un número identificatorio de seis dígitos (AAAA-000000). La columna *date* tiene un formato de fecha de día/mes/año (DD/MM/AAAA).La columna *time* tiene un formato de hora:minutos:segundos (HH:MM:SS). La columna *name* contiene una abreviatura del nombre de la pizza sumado a una abreviatura de la variedad, si es que tiene una. La columna *size* contiene la medida de la pizza representado con una letra (Ej. M = 'Medium'). La columna *type* contiene la variedad de la pizza. La columna *price* contiene el precio final de la venta representado con un valor de tipo *flotante*.

In [2]:
df.sample(5)

                id        date      time         name size     type  price
34707  2015-015037  09/09/2015  11:42:46   veggie_veg    M   veggie  16.00
16180  2015-006982  27/04/2015  17:46:31  ital_cpcllo    S  classic  12.00
36221  2015-015688  19/09/2015  17:28:54  ital_cpcllo    L  classic  20.50
6932   2015-003010  20/02/2015  12:26:16     hawaiian    M  classic  13.25
38603  2015-016715  09/10/2015  21:21:50    ital_supr    L  supreme  20.75